TELEGRAM_BOT_TOKEN=123456789:AAExampleBotTokenReplaceMe
TELEGRAM_USER_ID=123456789

CPU_USAGE_THRESHOLD=50
CPU_HEAT_THRESHOLD=60
RAM_USAGE_THRESHOLD=50
MEMORY_USAGE_THRESHOLD=50
DISK_USAGE_THRESHOLD=70